.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9%;
}
.hero-container .hero-text h1 {
    font-size: 4rem;
    color: #2B2B2B;
    margin-bottom: 5px;
}
.hero-text p {
    color: #5A5A5A ;
    margin-bottom: 20px;
}
.hero-text button {
    padding: 12px 30px;
}
.card-success-container {
    display: flex;
    gap: 40px;
    position: relative;
}
.card-success-container .division-line::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #9D9D9D;
    position: absolute;
    left: 39%;

}
.card-success {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.card-success h5 {
    color: #232323;
    font-size: 2rem;
    margin-right: 10px;
}
.card-success p {
    font-size: 0.8rem;
    color: #969696;
}
.right-hero-img {
    position: relative;
}
.right-hero-img::before {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: #DDF472;
    z-index: -100;
    border-radius: 50%;
    top: 16%;
    right: 2%;

}
.card-hero-image img {
    position: absolute;
    bottom: 5%;
    right: 35%;
    width: 450px;
}
.curly-arrow img {
    position: absolute;
    bottom: 54%;
    height: 120px;
}